<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					

{BEGIN container_master}
<table class="runner-c runner-c-master" cellpadding="0" >
<tr class="{$cheaderclass_master}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
<tr class="runner-row style1">
<td class="runner-cl"></td>
<td class="runner-cc">
<table border="0" cellpadding="0" class="runner-hc">
<tr>

{BEGIN mastertable_block}
<td  class="runner-cc runner-bl runner-b-masterinfoprint" {$brickclass_masterinfoprint}><span>{$showmasterfile}
</span></td>
{END mastertable_block}

<td class="runner-cc filler"></td>
</tr>
</table></td>
<td class="runner-cr"></td>
</tr>

<tr class="{$cfooterclass_master}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_master}



{BEGIN container_pdf}
<table class="runner-c runner-c-pdf" cellpadding="0" >
<tr class="{$cheaderclass_pdf}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
<tr class="runner-row style1">
<td class="runner-cl"></td>
<td class="runner-cc">
<table border="0" cellpadding="0" class="runner-hc">
<tr>


<td  class="runner-cc runner-bl runner-b-printpdf" {$brickclass_printpdf}><span>{BEGIN pdflink_block}
<a href="#" class=pdflink {$pdflink_attrs}>Vista PDF</a>
{END pdflink_block}
</span></td>


<td class="runner-cc filler"></td>
</tr>
</table></td>
<td class="runner-cr"></td>
</tr>

<tr class="{$cfooterclass_pdf}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_pdf}


				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					

{BEGIN container_grid}


{BEGIN grid_block}
{BEGIN page}
<h1>Cirugia</h1>
<span>
{BEGIN page_number}
Página {$pageno} / {$maxpages} 
{END page_number}
</span>

	<div class="runner-s-grid">	
	<table class="runner-c runner-c-grid" cellpadding="0">
		<thead>
		{BEGIN grid_header}
		<tr class="runner-toprow style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			{BEGIN record_header}
					{BEGIN id_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN id_fieldheader}
	<b>Código</b>
	{END id_fieldheader}
</th>
{END id_fieldheadercolumn}
	{BEGIN idtipo_cirugia_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN idtipo_cirugia_fieldheader}
	<b>Tipo de Cirugía</b>
	{END idtipo_cirugia_fieldheader}
</th>
{END idtipo_cirugia_fieldheadercolumn}
	{BEGIN consulta_id_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN consulta_id_fieldheader}
	<b>Paciente</b>
	{END consulta_id_fieldheader}
</th>
{END consulta_id_fieldheadercolumn}
	{BEGIN fecha_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN fecha_fieldheader}
	<b>Fecha</b>
	{END fecha_fieldheader}
</th>
{END fecha_fieldheadercolumn}
	{BEGIN encargado_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN encargado_fieldheader}
	<b>Encargado</b>
	{END encargado_fieldheader}
</th>
{END encargado_fieldheadercolumn}
	{BEGIN ambiente_id_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN ambiente_id_fieldheader}
	<b>Tipo de Ambiente</b>
	{END ambiente_id_fieldheader}
</th>
{END ambiente_id_fieldheadercolumn}
		
			{END record_header}
			<td class="runner-cr"><img src="images/spacer.gif"></td>
			{BEGIN endrecordheader_block}
			<td class="runner-cs">&nbsp;</td>
			{END endrecordheader_block}
		</tr>
	{END grid_header}
		</thead>
		<tbody>	
		{BEGIN grid_row}
	<tr class="runner-row style1" {$rowattrs} {$rowstyle} {$rowstyle}>
		<td class="runner-cl"></td>
		{BEGIN grid_record}
				{BEGIN id_fieldcolumn}
<td  class="runner-cc {$id_class}" {$id_style}>
	{$id_value}
</td>
{END id_fieldcolumn}
	{BEGIN idtipo_cirugia_fieldcolumn}
<td  class="runner-cc {$idtipo_cirugia_class}" {$idtipo_cirugia_style}>
	{$idtipo_cirugia_value}
</td>
{END idtipo_cirugia_fieldcolumn}
	{BEGIN consulta_id_fieldcolumn}
<td  class="runner-cc {$consulta_id_class}" {$consulta_id_style}>
	{$consulta_id_value}
</td>
{END consulta_id_fieldcolumn}
	{BEGIN fecha_fieldcolumn}
<td  class="runner-cc {$fecha_class}" {$fecha_style}>
	{$fecha_value}
</td>
{END fecha_fieldcolumn}
	{BEGIN encargado_fieldcolumn}
<td  class="runner-cc {$encargado_class}" {$encargado_style}>
	{$encargado_value}
</td>
{END encargado_fieldcolumn}
	{BEGIN ambiente_id_fieldcolumn}
<td  class="runner-cc {$ambiente_id_class}" {$ambiente_id_style}>
	{$ambiente_id_value}
</td>
{END ambiente_id_fieldcolumn}

		{END grid_record}
		<td class="runner-cr"></td>
		{BEGIN endrecord_block}
		<td class="runner-cs">&nbsp;</td>
		{END endrecord_block}
	</tr>
{END grid_row}
										
								<tr class="runner-bottomrow style1">
									<td class="runner-cl"><img src="images/spacer.gif"></td>
									{BEGIN record_footer}
									{BEGIN id_fieldfootercolumn}
<td class="runner-cc "></td>
{END id_fieldfootercolumn}
{BEGIN idtipo_cirugia_fieldfootercolumn}
<td class="runner-cc "></td>
{END idtipo_cirugia_fieldfootercolumn}
{BEGIN consulta_id_fieldfootercolumn}
<td class="runner-cc "></td>
{END consulta_id_fieldfootercolumn}
{BEGIN fecha_fieldfootercolumn}
<td class="runner-cc "></td>
{END fecha_fieldfootercolumn}
{BEGIN encargado_fieldfootercolumn}
<td class="runner-cc "></td>
{END encargado_fieldfootercolumn}
{BEGIN ambiente_id_fieldfootercolumn}
<td class="runner-cc runner-clast"></td>
{END ambiente_id_fieldfootercolumn}

									{END record_footer}
									<td class="runner-cr"><img src="images/spacer.gif"></td>
									{BEGIN endrecordtotals_block}
									<td class="runner-cs"></td>
									{END endrecordtotals_block}
								</tr>

		</tbody>
	</table>
</div>	
{END page}

{END grid_block}



{END container_grid}


				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
