<div class="searchOptions bottomPanelBorder" {$srchOpt_attrs}>
	<!-- Search panel content -->
	<div class="srchCritTop" style="display: none;">
		Criterio:&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$all_checkbox}> {BEGIN all_checkbox_label}todos{END all_checkbox_label}
		&nbsp;&nbsp;&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$any_checkbox}> {BEGIN any_checkbox_label}alguno{END any_checkbox_label}
	</div>
	
	<div class="addOption">
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideControlChooseMenu{$id}" class="runner-button" {$showHideCtrls_attrs}>Añadir campo</a>
		</span>
		&nbsp;&nbsp;&nbsp;
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideSearchType{$id}" class="runner-button" {$showHideCtrlsOpt_attrs}>{$showHideOpt_mess}</a>
		</span>
	</div>
	
	<!-- choose controls div -->
	<div class="runner-panel controlChooseMenu" {$controlChooseMenuDiv_attrs}>
		{BEGIN addSearch__Factura_}
			<a href="#" id="addSearchControl__Factura_" class="addSearchControl" {$addSearchControl__Factura__attrs}>&#39;Factura&#39;</a><br>
		{END addSearch__Factura_}
		{BEGIN addSearch__Fecha_}
			<a href="#" id="addSearchControl__Fecha_" class="addSearchControl" {$addSearchControl__Fecha__attrs}>&#39;Fecha&#39;</a><br>
		{END addSearch__Fecha_}
		{BEGIN addSearch__Tipo_de_Consulta_}
			<a href="#" id="addSearchControl__Tipo_de_Consulta_" class="addSearchControl" {$addSearchControl__Tipo_de_Consulta__attrs}>&#39;Tipo de Consulta&#39;</a><br>
		{END addSearch__Tipo_de_Consulta_}
		{BEGIN addSearch__Precio_}
			<a href="#" id="addSearchControl__Precio_" class="addSearchControl" {$addSearchControl__Precio__attrs}>&#39;Precio&#39;</a><br>
		{END addSearch__Precio_}
		{BEGIN addSearch__M_dico_Encargado_}
			<a href="#" id="addSearchControl__M_dico_Encargado_" class="addSearchControl" {$addSearchControl__M_dico_Encargado__attrs}>&#39;Médico Encargado&#39;</a><br>
		{END addSearch__M_dico_Encargado_}
	</div>
	
	<div class="controlsBlock">
		{BEGIN searchCtrlBlock}
		<div class="srchPanelRow" {$filterRow_attrs}>
			<div class="srchPanelCell">{$delCtrlButt}&nbsp;{$fLabel}:&nbsp;</div>
			<div class="srchPanelCell srchPanelCell2">{$searchtype} {$searchcontrol} {$searchcontrol1}</div>
		</div>
		{END searchCtrlBlock}
	</div>
		
	<div class="bottomSearchButt" align="left" {$bottomSearchButt_attrs}>
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" class="runner-button" {$searchbutton_attrs}>Buscar</a>
		</span>
	</div>
</div>
