<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="fecha">
	{$fecha_editcontrol}
	</control>
	<control 
	field="paciente">
	{$paciente_editcontrol}
	</control>
	<control 
	field="tipo_consulta_id">
	{$tipo_consulta_id_editcontrol}
	</control>
	<control 
	field="id1">
	{$id1_editcontrol}
	</control>
	<control 
	field="nombre">
	{$nombre_editcontrol}
	</control>
	<control 
	field="apellido">
	{$apellido_editcontrol}
	</control>
	<control 
	field="cui">
	{$cui_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
