<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					

{BEGIN container_search}
<table class="runner-c runner-c-search" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-srchheader {$brickclass_srchheader}">Copy of lotes - Búsqueda avanzada
{$CrossElem}</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>


{BEGIN conditions_block}
<tr  class="runner-row style1 runner-b-srchconditions {$brickclass_srchconditions}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >	<center>
	<span class=fieldname>Criterio:&nbsp;</span>	
	<input type="radio" class="runner-radio-button" name="srchType" {$all_checkbox}><label for="all_checkbox"> Todas las condiciones</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="runner-radio-button" name="srchType" {$any_checkbox}><label for="any_checkbox"> Ninguna condición</label>
	</center></td><td class="runner-cr"></td></tr>{END conditions_block}



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >


<tr class="runner-toprow header style2 runner-b-srchfields"><td class="runner-cl"><img src="images/spacer.gif"></td>
	<td class="runner-cc">&nbsp;</td>
	<td class="runner-cc">NO</td>
	<td class="runner-cc" colspan=3>&nbsp; </td>
<td class="runner-cr"></td></tr>
	{BEGIN id_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_id {$fielddispclass_id}">
				Id
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_id {$fielddispclass_id}">
			<input type="checkbox" {$id_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_id {$fielddispclass_id}">
			{$searchtype_id}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_id {$fielddispclass_id}">
			{$id_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_id {$fielddispclass_id}">
			{$id_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END id_fieldblock}
	{BEGIN codigo_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_codigo {$fielddispclass_codigo}">
				Codigo
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_codigo {$fielddispclass_codigo}">
			<input type="checkbox" {$codigo_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_codigo {$fielddispclass_codigo}">
			{$searchtype_codigo}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_codigo {$fielddispclass_codigo}">
			{$codigo_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_codigo {$fielddispclass_codigo}">
			{$codigo_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END codigo_fieldblock}
	{BEGIN produccion_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_produccion {$fielddispclass_produccion}">
				Produccion
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_produccion {$fielddispclass_produccion}">
			<input type="checkbox" {$produccion_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_produccion {$fielddispclass_produccion}">
			{$searchtype_produccion}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_produccion {$fielddispclass_produccion}">
			{$produccion_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_produccion {$fielddispclass_produccion}">
			{$produccion_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END produccion_fieldblock}
	{BEGIN caducidad_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_caducidad {$fielddispclass_caducidad}">
				Caducidad
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_caducidad {$fielddispclass_caducidad}">
			<input type="checkbox" {$caducidad_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_caducidad {$fielddispclass_caducidad}">
			{$searchtype_caducidad}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_caducidad {$fielddispclass_caducidad}">
			{$caducidad_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_caducidad {$fielddispclass_caducidad}">
			{$caducidad_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END caducidad_fieldblock}
	{BEGIN expirado_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_expirado {$fielddispclass_expirado}">
				Expirado
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_expirado {$fielddispclass_expirado}">
			<input type="checkbox" {$expirado_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_expirado {$fielddispclass_expirado}">
			{$searchtype_expirado}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_expirado {$fielddispclass_expirado}">
			{$expirado_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_expirado {$fielddispclass_expirado}">
			{$expirado_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END expirado_fieldblock}
	{BEGIN cantidad_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_cantidad {$fielddispclass_cantidad}">
				Cantidad
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_cantidad {$fielddispclass_cantidad}">
			<input type="checkbox" {$cantidad_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_cantidad {$fielddispclass_cantidad}">
			{$searchtype_cantidad}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_cantidad {$fielddispclass_cantidad}">
			{$cantidad_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_cantidad {$fielddispclass_cantidad}">
			{$cantidad_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END cantidad_fieldblock}
	{BEGIN precio_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_precio {$fielddispclass_precio}">
				Precio
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_precio {$fielddispclass_precio}">
			<input type="checkbox" {$precio_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_precio {$fielddispclass_precio}">
			{$searchtype_precio}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_precio {$fielddispclass_precio}">
			{$precio_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_precio {$fielddispclass_precio}">
			{$precio_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END precio_fieldblock}
	{BEGIN costo_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_costo {$fielddispclass_costo}">
				Costo
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_costo {$fielddispclass_costo}">
			<input type="checkbox" {$costo_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_costo {$fielddispclass_costo}">
			{$searchtype_costo}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_costo {$fielddispclass_costo}">
			{$costo_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_costo {$fielddispclass_costo}">
			{$costo_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END costo_fieldblock}
	{BEGIN nombre_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_nombre {$fielddispclass_nombre}">
				Nombre
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_nombre {$fielddispclass_nombre}">
			<input type="checkbox" {$nombre_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_nombre {$fielddispclass_nombre}">
			{$searchtype_nombre}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_nombre {$fielddispclass_nombre}">
			{$nombre_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_nombre {$fielddispclass_nombre}">
			{$nombre_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END nombre_fieldblock}
	{BEGIN codigo_insumo_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_codigo_insumo {$fielddispclass_codigo_insumo}">
				Codigo Insumo
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_codigo_insumo {$fielddispclass_codigo_insumo}">
			<input type="checkbox" {$codigo_insumo_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_codigo_insumo {$fielddispclass_codigo_insumo}">
			{$searchtype_codigo_insumo}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_codigo_insumo {$fielddispclass_codigo_insumo}">
			{$codigo_insumo_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_codigo_insumo {$fielddispclass_codigo_insumo}">
			{$codigo_insumo_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END codigo_insumo_fieldblock}
	{BEGIN proveedor_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_proveedor {$fielddispclass_proveedor}">
				Proveedor
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_proveedor {$fielddispclass_proveedor}">
			<input type="checkbox" {$proveedor_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_proveedor {$fielddispclass_proveedor}">
			{$searchtype_proveedor}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_proveedor {$fielddispclass_proveedor}">
			{$proveedor_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_proveedor {$fielddispclass_proveedor}">
			{$proveedor_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END proveedor_fieldblock}



<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cr alt"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>



<tr  class="runner-row style2 runner-b-srchbuttons {$brickclass_srchbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >{BEGIN search_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$searchbutton_attrs}>Buscar</a>
</span>
{END search_button} 
{BEGIN reset_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$resetbutton_attrs}>Reiniciar</a>
</span>
{END reset_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Volver a la lista</a>
</span>
{END back_button}</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_search}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_search}


				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
