<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="codigo">
	{$codigo_editcontrol}
	</control>
	<control field="produccion">
	{$produccion_editcontrol}
	</control>
	<control field="caducidad">
	{$caducidad_editcontrol}
	</control>
	<control field="expirado">
	{$expirado_editcontrol}
	</control>
	<control field="cantidad">
	{$cantidad_editcontrol}
	</control>
	<control field="precio">
	{$precio_editcontrol}
	</control>
	<control field="costo">
	{$costo_editcontrol}
	</control>
	<control field="nombre">
	{$nombre_editcontrol}
	</control>
	<control field="codigo_insumo">
	{$codigo_insumo_editcontrol}
	</control>
	<control field="proveedor">
	{$proveedor_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>