<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					



{BEGIN container_pdf}
<table class="runner-c runner-c-pdf" cellpadding="0" >
<tr class="{$cheaderclass_pdf}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
<tr class="runner-row style1">
<td class="runner-cl"></td>
<td class="runner-cc">
<table border="0" cellpadding="0" class="runner-hc">
<tr>


<td  class="runner-cc runner-bl runner-b-printpdf" {$brickclass_printpdf}><span>{BEGIN pdflink_block}
<a href="#" class=pdflink {$pdflink_attrs}>Vista PDF</a>
{END pdflink_block}
</span></td>


<td class="runner-cc filler"></td>
</tr>
</table></td>
<td class="runner-cr"></td>
</tr>

<tr class="{$cfooterclass_pdf}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_pdf}


				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					

{BEGIN container_grid}


{BEGIN grid_block}
{BEGIN page}
<h1>Estado de cuenta de los pacientes</h1>
<span>
{BEGIN page_number}
Página {$pageno} / {$maxpages} 
{END page_number}
</span>

	<div class="runner-s-grid">	
	<table class="runner-c runner-c-grid" cellpadding="0">
		<thead>
		{BEGIN grid_header}
		<tr class="runner-toprow style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			{BEGIN record_header}
					{BEGIN id_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN id_fieldheader}
	<b>Código personal</b>
	{END id_fieldheader}
</th>
{END id_fieldheadercolumn}
	{BEGIN _C_digo__nico_de_Identificaci_n__fieldheadercolumn}
<th class="runner-cc">
	{BEGIN _C_digo__nico_de_Identificaci_n__fieldheader}
	<b>Código Único de Identificación</b>
	{END _C_digo__nico_de_Identificaci_n__fieldheader}
</th>
{END _C_digo__nico_de_Identificaci_n__fieldheadercolumn}
	{BEGIN _Paciente__fieldheadercolumn}
<th class="runner-cc">
	{BEGIN _Paciente__fieldheader}
	<b>Paciente</b>
	{END _Paciente__fieldheader}
</th>
{END _Paciente__fieldheadercolumn}
	{BEGIN _NIT__fieldheadercolumn}
<th class="runner-cc">
	{BEGIN _NIT__fieldheader}
	<b>NIT</b>
	{END _NIT__fieldheader}
</th>
{END _NIT__fieldheadercolumn}
	{BEGIN _Direcci_n__fieldheadercolumn}
<th class="runner-cc">
	{BEGIN _Direcci_n__fieldheader}
	<b>Dirección</b>
	{END _Direcci_n__fieldheader}
</th>
{END _Direcci_n__fieldheadercolumn}
	{BEGIN _Tel_fono__fieldheadercolumn}
<th class="runner-cc">
	{BEGIN _Tel_fono__fieldheader}
	<b>Teléfono</b>
	{END _Tel_fono__fieldheader}
</th>
{END _Tel_fono__fieldheadercolumn}
	{BEGIN _C_digo_de_consulta__fieldheadercolumn}
<th class="runner-cc">
	{BEGIN _C_digo_de_consulta__fieldheader}
	<b>Código de consulta</b>
	{END _C_digo_de_consulta__fieldheader}
</th>
{END _C_digo_de_consulta__fieldheadercolumn}
	{BEGIN _fecha__fieldheadercolumn}
<th class="runner-cc">
	{BEGIN _fecha__fieldheader}
	<b>Fecha de consulta</b>
	{END _fecha__fieldheader}
</th>
{END _fecha__fieldheadercolumn}
	{BEGIN _Tipo_de_consulta__fieldheadercolumn}
<th class="runner-cc">
	{BEGIN _Tipo_de_consulta__fieldheader}
	<b>Tipo de consulta</b>
	{END _Tipo_de_consulta__fieldheader}
</th>
{END _Tipo_de_consulta__fieldheadercolumn}
	{BEGIN _M_dico_Encargado__fieldheadercolumn}
<th class="runner-cc">
	{BEGIN _M_dico_Encargado__fieldheader}
	<b>Médico Encargado</b>
	{END _M_dico_Encargado__fieldheader}
</th>
{END _M_dico_Encargado__fieldheadercolumn}
	{BEGIN _N_mero_de_Factura__fieldheadercolumn}
<th class="runner-cc">
	{BEGIN _N_mero_de_Factura__fieldheader}
	<b>Número de Factura</b>
	{END _N_mero_de_Factura__fieldheader}
</th>
{END _N_mero_de_Factura__fieldheadercolumn}
	{BEGIN _Costo_de_los_Servicios__fieldheadercolumn}
<th class="runner-cc">
	{BEGIN _Costo_de_los_Servicios__fieldheader}
	<b>Costo de los Servicios</b>
	{END _Costo_de_los_Servicios__fieldheader}
</th>
{END _Costo_de_los_Servicios__fieldheadercolumn}
	{BEGIN _Total_Abonado__fieldheadercolumn}
<th class="runner-cc">
	{BEGIN _Total_Abonado__fieldheader}
	<b>Total Abonado</b>
	{END _Total_Abonado__fieldheader}
</th>
{END _Total_Abonado__fieldheadercolumn}
		
			{END record_header}
			<td class="runner-cr"><img src="images/spacer.gif"></td>
			{BEGIN endrecordheader_block}
			<td class="runner-cs">&nbsp;</td>
			{END endrecordheader_block}
		</tr>
	{END grid_header}
		</thead>
		<tbody>	
		{BEGIN grid_row}
	<tr class="runner-row style1" {$rowattrs} {$rowstyle} {$rowstyle}>
		<td class="runner-cl"></td>
		{BEGIN grid_record}
				{BEGIN id_fieldcolumn}
<td  class="runner-cc {$id_class}" {$id_style}>
	{$id_value}
</td>
{END id_fieldcolumn}
	{BEGIN _C_digo__nico_de_Identificaci_n__fieldcolumn}
<td  class="runner-cc {$_C_digo__nico_de_Identificaci_n__class}" {$_C_digo__nico_de_Identificaci_n__style}>
	{$_C_digo__nico_de_Identificaci_n__value}
</td>
{END _C_digo__nico_de_Identificaci_n__fieldcolumn}
	{BEGIN _Paciente__fieldcolumn}
<td  class="runner-cc {$_Paciente__class}" {$_Paciente__style}>
	{$_Paciente__value}
</td>
{END _Paciente__fieldcolumn}
	{BEGIN _NIT__fieldcolumn}
<td  class="runner-cc {$_NIT__class}" {$_NIT__style}>
	{$_NIT__value}
</td>
{END _NIT__fieldcolumn}
	{BEGIN _Direcci_n__fieldcolumn}
<td  class="runner-cc {$_Direcci_n__class}" {$_Direcci_n__style}>
	{$_Direcci_n__value}
</td>
{END _Direcci_n__fieldcolumn}
	{BEGIN _Tel_fono__fieldcolumn}
<td  class="runner-cc {$_Tel_fono__class}" {$_Tel_fono__style}>
	{$_Tel_fono__value}
</td>
{END _Tel_fono__fieldcolumn}
	{BEGIN _C_digo_de_consulta__fieldcolumn}
<td  class="runner-cc {$_C_digo_de_consulta__class}" {$_C_digo_de_consulta__style}>
	{$_C_digo_de_consulta__value}
</td>
{END _C_digo_de_consulta__fieldcolumn}
	{BEGIN _fecha__fieldcolumn}
<td  class="runner-cc {$_fecha__class}" {$_fecha__style}>
	{$_fecha__value}
</td>
{END _fecha__fieldcolumn}
	{BEGIN _Tipo_de_consulta__fieldcolumn}
<td  class="runner-cc {$_Tipo_de_consulta__class}" {$_Tipo_de_consulta__style}>
	{$_Tipo_de_consulta__value}
</td>
{END _Tipo_de_consulta__fieldcolumn}
	{BEGIN _M_dico_Encargado__fieldcolumn}
<td  class="runner-cc {$_M_dico_Encargado__class}" {$_M_dico_Encargado__style}>
	{$_M_dico_Encargado__value}
</td>
{END _M_dico_Encargado__fieldcolumn}
	{BEGIN _N_mero_de_Factura__fieldcolumn}
<td  class="runner-cc {$_N_mero_de_Factura__class}" {$_N_mero_de_Factura__style}>
	{$_N_mero_de_Factura__value}
</td>
{END _N_mero_de_Factura__fieldcolumn}
	{BEGIN _Costo_de_los_Servicios__fieldcolumn}
<td  class="runner-cc {$_Costo_de_los_Servicios__class}" {$_Costo_de_los_Servicios__style}>
	{$_Costo_de_los_Servicios__value}
</td>
{END _Costo_de_los_Servicios__fieldcolumn}
	{BEGIN _Total_Abonado__fieldcolumn}
<td  class="runner-cc {$_Total_Abonado__class}" {$_Total_Abonado__style}>
	{$_Total_Abonado__value}
</td>
{END _Total_Abonado__fieldcolumn}

		{END grid_record}
		<td class="runner-cr"></td>
		{BEGIN endrecord_block}
		<td class="runner-cs">&nbsp;</td>
		{END endrecord_block}
	</tr>
{END grid_row}
										
								<tr class="runner-bottomrow style1">
									<td class="runner-cl"><img src="images/spacer.gif"></td>
									{BEGIN record_footer}
									{BEGIN id_fieldfootercolumn}
<td class="runner-cc "></td>
{END id_fieldfootercolumn}
{BEGIN _C_digo__nico_de_Identificaci_n__fieldfootercolumn}
<td class="runner-cc "></td>
{END _C_digo__nico_de_Identificaci_n__fieldfootercolumn}
{BEGIN _Paciente__fieldfootercolumn}
<td class="runner-cc "></td>
{END _Paciente__fieldfootercolumn}
{BEGIN _NIT__fieldfootercolumn}
<td class="runner-cc "></td>
{END _NIT__fieldfootercolumn}
{BEGIN _Direcci_n__fieldfootercolumn}
<td class="runner-cc "></td>
{END _Direcci_n__fieldfootercolumn}
{BEGIN _Tel_fono__fieldfootercolumn}
<td class="runner-cc "></td>
{END _Tel_fono__fieldfootercolumn}
{BEGIN _C_digo_de_consulta__fieldfootercolumn}
<td class="runner-cc "></td>
{END _C_digo_de_consulta__fieldfootercolumn}
{BEGIN _fecha__fieldfootercolumn}
<td class="runner-cc "></td>
{END _fecha__fieldfootercolumn}
{BEGIN _Tipo_de_consulta__fieldfootercolumn}
<td class="runner-cc "></td>
{END _Tipo_de_consulta__fieldfootercolumn}
{BEGIN _M_dico_Encargado__fieldfootercolumn}
<td class="runner-cc "></td>
{END _M_dico_Encargado__fieldfootercolumn}
{BEGIN _N_mero_de_Factura__fieldfootercolumn}
<td class="runner-cc "></td>
{END _N_mero_de_Factura__fieldfootercolumn}
{BEGIN _Costo_de_los_Servicios__fieldfootercolumn}
<td class="runner-cc "></td>
{END _Costo_de_los_Servicios__fieldfootercolumn}
{BEGIN _Total_Abonado__fieldfootercolumn}
<td class="runner-cc runner-clast"></td>
{END _Total_Abonado__fieldfootercolumn}

									{END record_footer}
									<td class="runner-cr"><img src="images/spacer.gif"></td>
									{BEGIN endrecordtotals_block}
									<td class="runner-cs"></td>
									{END endrecordtotals_block}
								</tr>

		</tbody>
	</table>
</div>	
{END page}

{END grid_block}



{END container_grid}


				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
