<div class="searchOptions bottomPanelBorder" {$srchOpt_attrs}>
	
	<!-- Search panel content -->
	<div class="srchCritTop" style="display: none;">
		Criterio:&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$all_checkbox}> {BEGIN all_checkbox_label}todos{END all_checkbox_label}
		&nbsp;&nbsp;&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$any_checkbox}> {BEGIN any_checkbox_label}alguno{END any_checkbox_label}
	</div>
	
	<div class="addOption">
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideControlChooseMenu{$id}" class="runner-button" {$showHideCtrls_attrs}>Añadir campo</a>
		</span>
		&nbsp;&nbsp;&nbsp;
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideSearchType{$id}" class="runner-button" {$showHideCtrlsOpt_attrs}>{$showHideOpt_mess}</a>
		</span>
	</div>
	
	<!-- choose controls div -->
	<div class="runner-panel controlChooseMenu" {$controlChooseMenuDiv_attrs}>
		{BEGIN addSearch_id}
			<a href="#" id="addSearchControl_id" class="addSearchControl" {$addSearchControl_id_attrs}>Código</a><br>
		{END addSearch_id}
		{BEGIN addSearch_codigo}
			<a href="#" id="addSearchControl_codigo" class="addSearchControl" {$addSearchControl_codigo_attrs}>Código de Barras</a><br>
		{END addSearch_codigo}
		{BEGIN addSearch_nombre}
			<a href="#" id="addSearchControl_nombre" class="addSearchControl" {$addSearchControl_nombre_attrs}>Nombre</a><br>
		{END addSearch_nombre}
		{BEGIN addSearch_componente}
			<a href="#" id="addSearchControl_componente" class="addSearchControl" {$addSearchControl_componente_attrs}>Componente</a><br>
		{END addSearch_componente}
		{BEGIN addSearch_contenido}
			<a href="#" id="addSearchControl_contenido" class="addSearchControl" {$addSearchControl_contenido_attrs}>Contenido</a><br>
		{END addSearch_contenido}
		{BEGIN addSearch_presentacion}
			<a href="#" id="addSearchControl_presentacion" class="addSearchControl" {$addSearchControl_presentacion_attrs}>Presentacion</a><br>
		{END addSearch_presentacion}
		{BEGIN addSearch_cantidad}
			<a href="#" id="addSearchControl_cantidad" class="addSearchControl" {$addSearchControl_cantidad_attrs}>Cantidad</a><br>
		{END addSearch_cantidad}
		{BEGIN addSearch_existencia_actual}
			<a href="#" id="addSearchControl_existencia_actual" class="addSearchControl" {$addSearchControl_existencia_actual_attrs}>Existencia Actual</a><br>
		{END addSearch_existencia_actual}
		{BEGIN addSearch_existencia_minima}
			<a href="#" id="addSearchControl_existencia_minima" class="addSearchControl" {$addSearchControl_existencia_minima_attrs}>Existencia Mínima</a><br>
		{END addSearch_existencia_minima}
		{BEGIN addSearch_descripcion}
			<a href="#" id="addSearchControl_descripcion" class="addSearchControl" {$addSearchControl_descripcion_attrs}>Descripcion</a><br>
		{END addSearch_descripcion}
	</div>
	
	<table class="controlsBlock">
	{BEGIN searchCtrlBlock}
		<tr class="srchPanelRow" {$filterRow_attrs}>
			<td class="srchPanelCell">{$delCtrlButt}</td>
			<td class="srchPanelCell">{$fLabel}:&nbsp;</td>
			<td class="srchPanelCell srchPanelCell2">
				<div class="runner-searchtype">{$searchtype}</div>
				<div class="runner-searchcontrol">{$searchcontrol}</div>
				<div class="runner-searchcontrol">{$searchcontrol1}</div>
		</tr>
	{END searchCtrlBlock}
	</table>
	
	<div class="bottomSearchButt" align="left" {$bottomSearchButt_attrs}>
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" class="runner-button" {$searchbutton_attrs}>Buscar</a>
		</span>
	</div>
</div>
