<div {$pageattrs}>

{BEGIN container_0}
<table class="runner-c runner-c-0" cellpadding="0" >
<tr class="{$cheaderclass_0}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
<tr class="runner-row style1">
<td class="runner-cl"></td>
<td class="runner-cc">
<table border="0" cellpadding="0" class="runner-hc">
<tr>


<td  class="runner-cc runner-bl runner-b-masterlistheader" {$brickclass_masterlistheader}><span><b><span dir="LTR">Insumos: [{$showKeys}]</span></b></span></td>


<td class="runner-cc filler"></td>
</tr>
</table></td>
<td class="runner-cr"></td>
</tr>

<tr class="{$cfooterclass_0}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_0}



{BEGIN container_mastergrid}



	<table class="runner-c runner-c-mastergrid runner-b-masterlistfields" cellpadding="0">
		<tr class="runner-toprow style1">
			<th class="runner-cl"><img src="images/spacer.gif"></th>
			<th class="runner-cc ">Código de Barras</th>
			<th class="runner-cc ">Nombre</th>
			<th class="runner-cc ">Componente</th>
			<th class="runner-cc ">Contenido</th>
			<th class="runner-cc ">Presentacion</th>
			<th class="runner-cc ">Cantidad</th>
			<th class="runner-cc ">Existencia Actual</th>
			<th class="runner-cc ">Existencia Mínima</th>
			<th class="runner-cc runner-clast">Descripcion</th>
			<th class="runner-cr"><img src="images/spacer.gif"></th>
		</tr>
		<tr class="runner-row style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			<td class="runner-cc ">{$codigo_mastervalue}</td>
			<td class="runner-cc ">{$nombre_mastervalue}</td>
			<td class="runner-cc ">{$componente_mastervalue}</td>
			<td class="runner-cc ">{$contenido_mastervalue}</td>
			<td class="runner-cc ">{$presentacion_mastervalue}</td>
			<td class="runner-cc ">{$cantidad_mastervalue}</td>
			<td class="runner-cc ">{$existencia_actual_mastervalue}</td>
			<td class="runner-cc ">{$existencia_minima_mastervalue}</td>
			<td class="runner-cc runner-clast">{$descripcion_mastervalue}</td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
		<tr class="runner-bottomrow style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc runner-clast"></td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
	</table>
 




{END container_mastergrid}

</div>