<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					

{BEGIN container_search}
<table class="runner-c runner-c-search" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-srchheader {$brickclass_srchheader}">Proveedores - Búsqueda avanzada
{$CrossElem}</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>


{BEGIN conditions_block}
<tr  class="runner-row style1 runner-b-srchconditions {$brickclass_srchconditions}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >	<center>
	<span class=fieldname>Criterio:&nbsp;</span>	
	<input type="radio" class="runner-radio-button" name="srchType" {$all_checkbox}><label for="all_checkbox"> Todas las condiciones</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="runner-radio-button" name="srchType" {$any_checkbox}><label for="any_checkbox"> Ninguna condición</label>
	</center></td><td class="runner-cr"></td></tr>{END conditions_block}



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >


<tr class="runner-toprow header style2 runner-b-srchfields"><td class="runner-cl"><img src="images/spacer.gif"></td>
	<td class="runner-cc">&nbsp;</td>
	<td class="runner-cc">NO</td>
	<td class="runner-cc" colspan=3>&nbsp; </td>
<td class="runner-cr"></td></tr>
	{BEGIN nit_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_nit {$fielddispclass_nit}">
				NIT
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_nit {$fielddispclass_nit}">
			<input type="checkbox" {$nit_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_nit {$fielddispclass_nit}">
			{$searchtype_nit}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_nit {$fielddispclass_nit}">
			{$nit_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_nit {$fielddispclass_nit}">
			{$nit_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END nit_fieldblock}
	{BEGIN nombre_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_nombre {$fielddispclass_nombre}">
				Nombre
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_nombre {$fielddispclass_nombre}">
			<input type="checkbox" {$nombre_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_nombre {$fielddispclass_nombre}">
			{$searchtype_nombre}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_nombre {$fielddispclass_nombre}">
			{$nombre_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_nombre {$fielddispclass_nombre}">
			{$nombre_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END nombre_fieldblock}
	{BEGIN direccion_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_direccion {$fielddispclass_direccion}">
				Direccion
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_direccion {$fielddispclass_direccion}">
			<input type="checkbox" {$direccion_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_direccion {$fielddispclass_direccion}">
			{$searchtype_direccion}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_direccion {$fielddispclass_direccion}">
			{$direccion_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_direccion {$fielddispclass_direccion}">
			{$direccion_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END direccion_fieldblock}
	{BEGIN municipio_id_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_municipio_id {$fielddispclass_municipio_id}">
				Municipio
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_municipio_id {$fielddispclass_municipio_id}">
			<input type="checkbox" {$municipio_id_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_municipio_id {$fielddispclass_municipio_id}">
			{$searchtype_municipio_id}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_municipio_id {$fielddispclass_municipio_id}">
			{$municipio_id_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_municipio_id {$fielddispclass_municipio_id}">
			{$municipio_id_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END municipio_id_fieldblock}
	{BEGIN telefono_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_telefono {$fielddispclass_telefono}">
				Telefono
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_telefono {$fielddispclass_telefono}">
			<input type="checkbox" {$telefono_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_telefono {$fielddispclass_telefono}">
			{$searchtype_telefono}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_telefono {$fielddispclass_telefono}">
			{$telefono_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_telefono {$fielddispclass_telefono}">
			{$telefono_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END telefono_fieldblock}
	{BEGIN descripcion_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_descripcion {$fielddispclass_descripcion}">
				Descripcion
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_descripcion {$fielddispclass_descripcion}">
			<input type="checkbox" {$descripcion_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_descripcion {$fielddispclass_descripcion}">
			{$searchtype_descripcion}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_descripcion {$fielddispclass_descripcion}">
			{$descripcion_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_descripcion {$fielddispclass_descripcion}">
			{$descripcion_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END descripcion_fieldblock}
	{BEGIN saldo_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_saldo {$fielddispclass_saldo}">
				Saldo
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_saldo {$fielddispclass_saldo}">
			<input type="checkbox" {$saldo_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_saldo {$fielddispclass_saldo}">
			{$searchtype_saldo}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_saldo {$fielddispclass_saldo}">
			{$saldo_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_saldo {$fielddispclass_saldo}">
			{$saldo_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END saldo_fieldblock}



<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cr alt"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>



<tr  class="runner-row style2 runner-b-srchbuttons {$brickclass_srchbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >{BEGIN search_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$searchbutton_attrs}>Buscar</a>
</span>
{END search_button} 
{BEGIN reset_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$resetbutton_attrs}>Reiniciar</a>
</span>
{END reset_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Volver a la lista</a>
</span>
{END back_button}</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_search}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_search}


				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
