<div class="searchOptions bottomPanelBorder" {$srchOpt_attrs}>
	
	<!-- Search panel content -->
	<div class="srchCritTop" style="display: none;">
		Criterio:&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$all_checkbox}> {BEGIN all_checkbox_label}todos{END all_checkbox_label}
		&nbsp;&nbsp;&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$any_checkbox}> {BEGIN any_checkbox_label}alguno{END any_checkbox_label}
	</div>
	
	<div class="addOption">
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideControlChooseMenu{$id}" class="runner-button" {$showHideCtrls_attrs}>Añadir campo</a>
		</span>
		&nbsp;&nbsp;&nbsp;
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideSearchType{$id}" class="runner-button" {$showHideCtrlsOpt_attrs}>{$showHideOpt_mess}</a>
		</span>
	</div>
	
	<!-- choose controls div -->
	<div class="runner-panel controlChooseMenu" {$controlChooseMenuDiv_attrs}>
		{BEGIN addSearch_fecha}
			<a href="#" id="addSearchControl_fecha" class="addSearchControl" {$addSearchControl_fecha_attrs}>Fecha</a><br>
		{END addSearch_fecha}
		{BEGIN addSearch_consulta_id}
			<a href="#" id="addSearchControl_consulta_id" class="addSearchControl" {$addSearchControl_consulta_id_attrs}>Código de consulta</a><br>
		{END addSearch_consulta_id}
		{BEGIN addSearch_responsable}
			<a href="#" id="addSearchControl_responsable" class="addSearchControl" {$addSearchControl_responsable_attrs}>Médico Responsable</a><br>
		{END addSearch_responsable}
		{BEGIN addSearch_medicamento_id}
			<a href="#" id="addSearchControl_medicamento_id" class="addSearchControl" {$addSearchControl_medicamento_id_attrs}>Código de medicamento</a><br>
		{END addSearch_medicamento_id}
		{BEGIN addSearch_lote_id}
			<a href="#" id="addSearchControl_lote_id" class="addSearchControl" {$addSearchControl_lote_id_attrs}>Código de lote</a><br>
		{END addSearch_lote_id}
		{BEGIN addSearch_cantidad}
			<a href="#" id="addSearchControl_cantidad" class="addSearchControl" {$addSearchControl_cantidad_attrs}>Cantidad</a><br>
		{END addSearch_cantidad}
	</div>
	
	<table class="controlsBlock">
	{BEGIN searchCtrlBlock}
		<tr class="srchPanelRow" {$filterRow_attrs}>
			<td class="srchPanelCell">{$delCtrlButt}</td>
			<td class="srchPanelCell">{$fLabel}:&nbsp;</td>
			<td class="srchPanelCell srchPanelCell2">
				<div class="runner-searchtype">{$searchtype}</div>
				<div class="runner-searchcontrol">{$searchcontrol}</div>
				<div class="runner-searchcontrol">{$searchcontrol1}</div>
		</tr>
	{END searchCtrlBlock}
	</table>
	
	<div class="bottomSearchButt" align="left" {$bottomSearchButt_attrs}>
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" class="runner-button" {$searchbutton_attrs}>Buscar</a>
		</span>
	</div>
</div>
